*,
*::before,
*::after
{
    box-sizing: border-box;
}

html,
body
{
    height: 100%;
}

body
{
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #fefefe;
}

.text-centered { text-align: center; }

table
{
    border-collapse: collapse;
}

table td,
table th
{
    padding: 0.5rem 1rem;
    border: 1px solid #eee;
}

table tr
{
    background-color: #fff;
}

table th
{
    text-align: left;
    background-color: #222;
    color: #fff;
}

table td:not(:first-child),
table th:not(:first-child)
{
    text-align: right;
}

.graph-canvas
{
    border: 1px solid #222;
}

.graph-canvas,
.graph-key,
table
{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.bbc-one
{
    color: #ea2923;
}

.bbc-two
{
    color: #005761;
}

.bbc-three
{
    color: #d41c6f;
}

.bbc-news-24
{
    color: #900;
}

.cbbc
{
    color: #9fe600;
}

.cbeebies
{
    color: #2cade6;
}

.table-container.hidden,
.graph-container.hidden
{
    display: none;
}